<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rdupuis.amikcal"
    android:versionCode="1"
    android:versionName="1.0" 
   
    >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/logo_amikcal"
        android:label="@string/app_name">
      
        <activity
            android:label="@string/app_name"
            android:name=".Act_Main" 
            android:launchMode="standard">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity android:name=".Commons.MultipleItemsActivityList">	</activity>
        <activity android:name=".Commons.NumericPad.Act_NumericPad">	</activity>
        <activity android:name=".Commons.NumericPad.FragAct_NumericPad"></activity>
        <activity android:name=".Commons.Act_Techinfo"></activity> 
        <activity android:name=".Commons.Act_Calendar"></activity>
        <activity android:name=".UserActivity.Act_UserActivityList"></activity>
        <activity android:name=".UserActivity.Act_UserActivityEditor"></activity>
        <activity android:name=".Day.Act_Day"></activity>
        <activity android:name=".UserActivityComponent.Act_UserActivityComponentList"></activity>
        <activity android:name=".UserActivityComponent.Act_UserActivityComponentEditor"></activity>
        <activity android:name=".UnitOfMeasure.Act_UnitOfMeasureList"></activity>
        <activity android:name=".UnitOfMeasure.Act_UnitOfMeasureEditor"></activity>
        <activity android:name=".Energy.Act_EnergyEditor"></activity>
        <activity android:name=".Energy.Act_EnergyList"></activity>
        <provider android:name=".Data.ContentProviderObj" 
                  android:authorities="com.rdupuis.amikcal.AmikcalContentProvider">
        	 <data android:mimeType="vnd.android.cursor.item/vnd.rdupuis.amikcal.AmikcalContentProvider" />
        </provider>
        
        <activity android:name=".Equivalence.Act_EquivalenceEditor"></activity> 
        <activity android:name=".Equivalence.Act_EquivalenceList"></activity>
         
         <activity android:name=".ScrollView2"></activity>
         <activity android:name=".TestHorizontalActivity"></activity>
         <activity android:name=".Commons.NumericPad.FragmentsSliderActivity"></activity>
         <activity android:name=".UserActivity.UserActivityList_FragmentsSliderActivity"></activity>
    
	</application>

        
</manifest>