<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rdupuis.amikcal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-feature android:glEsVersion="0x00020000" >
    </uses-feature>

    <application
        android:icon="@drawable/logo_amikcal"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="standard" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rdupuis.amikcal.commons.MultipleItemsActivityList" >
        </activity>
        <activity android:name="com.rdupuis.amikcal.commons.numericpad.Act_NumericPad" >
        </activity>
        <activity android:name="com.rdupuis.amikcal.commons.numericpad.FragAct_NumericPad" >
        </activity>
        <activity android:name="com.rdupuis.amikcal.commons.Act_Techinfo" >
        </activity>
        <activity android:name="com.rdupuis.amikcal.commons.Act_Calendar" >
        </activity>
        <activity android:name="com.rdupuis.amikcal.useractivity.Act_UserActivityList" >
        </activity>
        <activity android:name="com.rdupuis.amikcal.useractivity.Act_UserActivityEditor" >
        </activity>
        <activity android:name="com.rdupuis.amikcal.day.Act_Day" >
        </activity>
        <activity android:name="com.rdupuis.amikcal.useractivitycomponent.Act_UserActivityComponentList" >
        </activity>
        <activity android:name="com.rdupuis.amikcal.useractivitycomponent.Act_UserActivityComponentEditor" >
        </activity>
        <activity android:name="com.rdupuis.amikcal.useractivitycomponent.Act_UserActivityComponentSlider" >
        </activity>
     
        <activity android:name="com.rdupuis.amikcal.unitofmeasure.Act_UnitOfMeasureList" >
        </activity>
        <activity android:name="com.rdupuis.amikcal.unitofmeasure.Act_UnitOfMeasureEditor" >
        </activity>
        <activity android:name="com.rdupuis.amikcal.energy.Act_EnergyEditor" >
        </activity>
        <activity android:name="com.rdupuis.amikcal.energy.Act_EnergyList" >
        </activity>
        <activity android:name="com.rdupuis.amikcal.opengl.testOpenGl2es" >
        </activity>

        <provider
            android:name="com.rdupuis.amikcal.data.ContentProviderObj"
            android:authorities="com.rdupuis.amikcal.AmikcalContentProvider" >
            <data android:mimeType="vnd.android.cursor.item/vnd.rdupuis.amikcal.AmikcalContentProvider" />
        </provider>

        <activity android:name="com.rdupuis.amikcal.equivalence.Act_EquivalenceEditor" >
        </activity>
        <activity android:name="com.rdupuis.amikcal.equivalence.Act_EquivalenceList" >
        </activity>

        
        <activity android:name="com.rdupuis.amikcal.commons.FragmentsSliderActivity" >
        </activity>
        
          
        <activity
            android:name="com.rdupuis.amikcal.commons.Generic_FragmentsSlider"
            android:theme="@style/MyTheme" >
        </activity>
        <activity
            android:name="com.rdupuis.amikcal.useractivity.UserActivities_FragmentsSlider"
            android:theme="@style/MyTheme" >
        </activity>
    </application>

</manifest>